*, *::before, *::after {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-overflow-scrolling: touch;
}

html {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
}

html:focus-within {
	// scroll-behavior: smooth;
}

body {
	cursor: default;
	overflow-x: hidden;
	text-rendering: optimizeSpeed;
}

img, picture, video {
	max-width: 100%;
	display: block;
	user-select: none;
}

img, picture {
	pointer-events: none;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	background-image: none;
	background-color: rgba(#000, 0);
	appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	border-width: 0;

	&:focus {
		outline: none;
	}
}
